<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="xsrfHeaderName" value="X-CSRFTOKEN" />
                <add name="xsrfCookieName" value="csrftoken" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
